openapi: 3.2.0
info:
  contact:
    email: support@datafold.com
    name: API Support
  description: 'The Datafold API reference is a guide to our available endpoints and authentication methods.

    If you''re just getting started with Datafold, we recommend first checking out our documentation.


    :::info

    To use the Datafold API, you should first create a Datafold API Key,

    which should be stored as a local environment variable named DATAFOLD_API_KEY.

    This can be set in your Datafold Cloud''s Settings under the Account page.

    :::'
  title: Datafold Bi Deleted API
  version: latest
servers:
- description: Default server
  url: https://app.datafold.com
security:
- ApiKeyAuth: []
tags:
- name: bi_deleted
paths:
  /api/v1/lineage/bi/{bi_datasource_id}/:
    delete:
      operationId: remove_integration_api_v1_lineage_bi__bi_datasource_id___delete
      parameters:
      - in: path
        name: bi_datasource_id
        required: true
        schema:
          title: BI integration id
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Remove an integration
      tags:
      - bi_deleted
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
  securitySchemes:
    ApiKeyAuth:
      description: Use the 'Authorization' header with the format 'Key <api-key>'
      in: header
      name: Authorization
      type: apiKey
